openapi: 3.0.3
info:
  title: Archer Client
  version: 1.0.0
  contact: {}
servers:
  - url: 'https://app.archer.re'
  - url: 'http://staging.archer.re'
components:
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - tokenAuth: []
paths:
  /api/getRRParse:
    post:
      summary: Parse a rent roll file
      description: Parses a provided rent roll Excel file and returns the parsed data.
      parameters:
        - name: api_key
          in: header
          required: true
          description: API key for authentication.
          schema:
            type: string
        - name: address
          in: query
          required: true
          description: The address of the property.
          schema:
            type: string
        - name: city
          in: query
          required: true
          description: The city where the property is located.
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: The state where the property is located.
          schema:
            type: string
        - name: zip
          in: query
          required: true
          description: The ZIP code of the property.
          schema:
            type: string
        - name: as_of_date
          in: query
          required: true
          description: The date as of which the data is relevant (in MM/DD/YYYY format).
          schema:
            type: string
            format: date
        - name: addin_version
          in: query
          required: false
          description: The version of the add-in being used.
          schema:
            type: string
        - name: platform
          in: query
          required: false
          description: The platform of the add-in (e.g., WINDOWS, MAC, WEB).
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                rr_file:
                  type: string
                  format: binary
                  description: The rent roll Excel file to parse.
      responses:
        '200':
          description: Successfully parsed the rent roll file.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the operation.
                    example: success
                  data:
                    type: object
                    description: The parsed data.
                    properties:
                      propertyInfo:
                        type: object
                        description: Static list of keys describing the property.
                        example:
                          {
                              "archer_property_id": 73694,
                              "property_name": "ZZ Bella Vista Apartments",
                              "full_ddress": "1500 VISTA CLUB CIR, SANTA CLARA, CA 95054",
                              "property_class": "B",
                              "unit_count": "100",
                              "avg_sqft": "826",
                              "year_built": "1991",
                              "renovation_last_known": "2009",
                              "property_style": null,
                              "property_type": "Apartment",
                              "low_income_limit_4_people": null,
                              "hera_limit_4_people": null,
                              "fmr_0": "2383",
                              "fmr_1": "2694",
                              "fmr_2": "3132",
                              "fmr_3": "4011",
                              "fmr_4": "4425",
                              "fmr_5": null,
                              "is_usda_loan_eligible": false,
                              "as_of_date": "2023-02-24 00:00:00"
                          }
                        properties:
                          propertyName:
                            type: string
                            description: The name of the property.
                          propertyType:
                            type: string
                            description: The type of the property (e.g., residential, commercial).
                          numberOfUnits:
                            type: integer
                            description: The number of units in the property.
                          yearBuilt:
                            type: integer
                            description: The year the property was built.
                      rentRollMetadata:
                        type: array
                        description: Rentroll metadata info.
                        items:
                          type: object
                          description: Keys of all array objects are the same and derived from the provided file headers.
                          example:
                             {
                                  "title": "Deposit On Hand",
                                  "title_1": "Deposit On",
                                  "title_2": "Hand",
                                  "grouping": "Deposit on Hand",
                                  "format": "1",
                                  "right_left": "R"
                              }
                          properties:
                            title:
                              type: string
                              description: Title of the header.
                            title_1:
                              type: string
                              description: First row of the header.
                            title_2:
                              type: string
                              description: Second row wrap content of the header.
                            grouping:
                              type: string
                              description: Grouping of the header.
                            format:
                              type: string
                              description: Format of the header.
                            right_left:
                              type: string
                              description: Right or Left alignment of the header.
                      clientFloorPlans:
                        type: array
                        example:
                          [
                          {
                              "clientId": 1,
                              "origFloorPlan": "1/1",
                              "floorPlanOverriden": "1x1"
                          },{
                              "clientId": 1,
                              "origFloorPlan": "1x0",
                              "floorPlanOverriden": "b1"
                          }
                          ,
                          {
                              "clientId": 1,
                              "origFloorPlan": "2x0",
                              "floorPlanOverriden": "b2"
                          }]
                        items:
                          type: object
                          description: Client floor plans data
                          example:
                            {
                                "clientId": 1,
                                "origFloorPlan": "1/1",
                                "floorPlanOverriden": "1x1"
                            }
                          properties:
                            clientId:
                              type: integer
                              description: The id of the client.
                            origFloorPlan:
                              type: string
                              description: The original floor plan.
                            floorPlanOverriden:
                              type: string
                              description: The floor plan override.
                      rrParsingScore:
                        type: object
                        example:
                          {
                            "id": 4954,
                            "client_property_file_id": 19892,
                            "client_api_usage_id": 37495,
                            "scoring_version": 1,
                            "created_at": 1737726612514,
                            "total_units": 261,
                            "is_pdf": false,
                            "occupied_units": 238,
                            "has_floor_plan_percentage": 100.0,
                            "has_apt_number_percentage": 100.0,
                            "has_lease_rent_percentage": 100.0,
                            "has_at_least_one_date": 100.0,
                            "has_in_date": 100.0,
                            "has_out_date": 100.0,
                            "totals_match_percentage": 80.25210084033614,
                            "invalid_fee_percentage": 0.0,
                            "unit_confidence_score": 87.51,
                            "unit_abnormality": 0,
                            "overall_score": 95.394585,
                            "number_of_headers": 13
                         }
                        properties:
                          id:
                            type: integer
                            description: The id of the rent roll parsing score.
                          client_property_file_id:
                            type: integer
                            description: The id of the client property file.
                          client_api_usage_id:
                            type: integer
                            description: The id of the client API usage.
                          scoring_version:
                            type: integer
                            description: The version of the scoring algorithm.
                          created_at:
                            type: integer
                            description: The timestamp when the rent roll parsing score was created.
                          total_units:
                            type: integer
                            description: The total number of units in the property.
                          is_pdf:
                            type: boolean
                            description: Whether the file is a PDF.
                          occupied_units:
                            type: integer
                            description: The number of occupied units in the property.
                          has_floor_plan_percentage:
                            type: number
                            description: The percentage of units with floor plans.
                          has_apt_number_percentage:
                            type: number
                            description: The percentage of units with apartment numbers.
                          has_lease_rent_percentage:
                            type: number
                            description: The percentage of units with lease rents.
                          has_at_least_one_date:
                            type: number
                            description: The percentage of units with at least one date.
                          has_in_date:
                            type: number
                            description: The percentage of units with in dates.
                          has_out_date:
                            type: number
                            description: The percentage of units with out dates.
                          totals_match_percentage:
                            type: number
                            description: The percentage of units with matching totals.
                          invalid_fee_percentage:
                            type: number
                            description: The percentage of units with invalid fees.
                          unit_confidence_score:
                            type: number
                            description: The confidence score for each unit.
                          unit_abnormality:
                            type: integer
                            description: The number of units with abnormality.
                          overall_score:
                            type: number
                            description: The overall score for the rent roll parsing.
                          number_of_headers:
                            type: integer
                            description: The number of headers in the rent roll file.
                      rentRoll:
                        type: array
                        items:
                          type: object
                        description: >
                            ## Rentroll data
                            
                            ### Json arrangement

                            - Keys of all array objects are same and they are header from the given file. Slightly modified than original and ordered by Archer 
                            
                            - First element in the array is archer standardized headers
                            
                            - Second element is fuzzy match percentage of the given header. zero means no fuzzy match involved. Higher the number, better the confidence score is.
                            
                            - Third element to Nth elements are representing rentroll records
                        example:
                            [
                                    {
                                        "UNIT": "Unit No.",
                                        "TYPE (est)": "Unit Type",
                                        "archer_bed": "Bed",
                                        "archer_bath": "Bath",
                                        "SQ. FEET": "Sqft",
                                        "lease_type": "Lease Type",
                                        "renovation_status": "Renovation Status",
                                        "WASHER / DRYER CONNECTIONS - AMOUNT (est)": "In-Unit W/D",
                                        "WASHER / DRYER IN UNIT - AMOUNT (est)": "In-Unit W/D",
                                        "WASHER DRYER RENTAL - AMOUNT (est)": "In-Unit W/D",
                                        "archer_occupancy_status": "Occupancy Status",
                                        "STATUS": "Occupancy Status",
                                        "RESIDENTS": "Name",
                                        "LEASE START": "Lease Start Date",
                                        "MOVE IN": "Lease Start Date",
                                        "LEASE END": "Lease End Date",
                                        "archer_lease_term": "Lease Term (months)",
                                        "MOVE OUT": "Move Out Date",
                                        "archer_mtm": "MTM",
                                        "DEPOSITS": "Deposit On Hand",
                                        "BALANCE": "Balance",
                                        "MARKET RENT": "Market Rent",
                                        "TOTAL - AMOUNT": "Total Billing",
                                        "RENT - AMOUNT": "Lease Rent",
                                        "VIP PARKING SPOT VIP SPOT #1 - AMOUNT": "Parking Fee",
                                        "RESIDENT LEASE RENT - AMOUNT": "Lease Rent",
                                        "MONTHLY PET FEE - AMOUNT": "Pet Fee",
                                        "CREDIT BUILDER - AMOUNT": "Other Fee",
                                        "MONTH TO MONTH FEE - AMOUNT": "Month to Month",
                                        "RENTERS LEGAL LIABILITY - AMOUNT": "Insurance Fee",
                                        "EMPLOYEE UNIT RENT ALLOWANCE - AMOUNT": "Employee Discount",
                                        "WASHER DRYER RENTAL - AMOUNT": "Washer-Dryer Fee",
                                        "WASHER / DRYER IN UNIT - AMOUNT": "Washer-Dryer Fee",
                                        "WASHER / DRYER CONNECTIONS - AMOUNT": "Washer-Dryer Fee",
                                        "RESERVED PARKING#43 - AMOUNT": "Parking Fee",
                                        "CONCESSION - RENT-CONCESSION - RENT- JANUARY ONLY - AMOUNT": "Concession One-Time",
                                        "SUBSIDY/HARRIS COUNTY HOUSING AUTHORITY - AMOUNT": "Rent Assistance",
                                        "CONCESSION - RENT- JANUARY ONLY - AMOUNT": "Concession One-Time"
                                    },
                                    {
                                        "UNIT": null,
                                        "TYPE (est)": null,
                                        "archer_bed": null,
                                        "archer_bath": null,
                                        "SQ. FEET": null,
                                        "lease_type": null,
                                        "renovation_status": null,
                                        "WASHER / DRYER CONNECTIONS - AMOUNT (est)": null,
                                        "WASHER / DRYER IN UNIT - AMOUNT (est)": null,
                                        "WASHER DRYER RENTAL - AMOUNT (est)": null,
                                        "archer_occupancy_status": null,
                                        "STATUS": null,
                                        "RESIDENTS": null,
                                        "LEASE START": null,
                                        "MOVE IN": null,
                                        "LEASE END": null,
                                        "archer_lease_term": null,
                                        "MOVE OUT": null,
                                        "archer_mtm": null,
                                        "DEPOSITS": null,
                                        "BALANCE": null,
                                        "MARKET RENT": null,
                                        "TOTAL - AMOUNT": null,
                                        "RENT - AMOUNT": null,
                                        "VIP PARKING SPOT VIP SPOT #1 - AMOUNT": null,
                                        "RESIDENT LEASE RENT - AMOUNT": null,
                                        "MONTHLY PET FEE - AMOUNT": null,
                                        "CREDIT BUILDER - AMOUNT": null,
                                        "MONTH TO MONTH FEE - AMOUNT": null,
                                        "RENTERS LEGAL LIABILITY - AMOUNT": null,
                                        "EMPLOYEE UNIT RENT ALLOWANCE - AMOUNT": null,
                                        "WASHER DRYER RENTAL - AMOUNT": null,
                                        "WASHER / DRYER IN UNIT - AMOUNT": null,
                                        "WASHER / DRYER CONNECTIONS - AMOUNT": null,
                                        "RESERVED PARKING#43 - AMOUNT": null,
                                        "CONCESSION - RENT-CONCESSION - RENT- JANUARY ONLY - AMOUNT": null,
                                        "SUBSIDY/HARRIS COUNTY HOUSING AUTHORITY - AMOUNT": null,
                                        "CONCESSION - RENT- JANUARY ONLY - AMOUNT": null
                                    },
                                    {
                                        "UNIT": "1000",
                                        "TYPE (est)": "c_2x1.0",
                                        "archer_bed": "2",
                                        "archer_bath": "1",
                                        "SQ. FEET": "1020.0",
                                        "lease_type": null,
                                        "renovation_status": null,
                                        "WASHER / DRYER CONNECTIONS - AMOUNT (est)": null,
                                        "WASHER / DRYER IN UNIT - AMOUNT (est)": "true",
                                        "WASHER DRYER RENTAL - AMOUNT (est)": null,
                                        "archer_occupancy_status": "Occupied",
                                        "STATUS": "C",
                                        "RESIDENTS": "Allen Green, Naomi Ondiba",
                                        "LEASE START": "2022-02-21",
                                        "MOVE IN": "2022-02-23",
                                        "LEASE END": "2023-02-13",
                                        "archer_lease_term": "11",
                                        "MOVE OUT": null,
                                        "archer_mtm": null,
                                        "DEPOSITS": "0.0",
                                        "BALANCE": "0.0",
                                        "MARKET RENT": "1197.0",
                                        "TOTAL - AMOUNT": "1235.99",
                                        "RENT - AMOUNT": "1165.0",
                                        "VIP PARKING SPOT VIP SPOT #1 - AMOUNT": "30.0",
                                        "RESIDENT LEASE RENT - AMOUNT": null,
                                        "MONTHLY PET FEE - AMOUNT": null,
                                        "CREDIT BUILDER - AMOUNT": "5.99",
                                        "MONTH TO MONTH FEE - AMOUNT": null,
                                        "RENTERS LEGAL LIABILITY - AMOUNT": null,
                                        "EMPLOYEE UNIT RENT ALLOWANCE - AMOUNT": null,
                                        "WASHER DRYER RENTAL - AMOUNT": null,
                                        "WASHER / DRYER IN UNIT - AMOUNT": "35.0",
                                        "WASHER / DRYER CONNECTIONS - AMOUNT": null,
                                        "RESERVED PARKING#43 - AMOUNT": null,
                                        "CONCESSION - RENT-CONCESSION - RENT- JANUARY ONLY - AMOUNT": null,
                                        "SUBSIDY/HARRIS COUNTY HOUSING AUTHORITY - AMOUNT": null,
                                        "CONCESSION - RENT- JANUARY ONLY - AMOUNT": null
                                    },
                                    {
                                        "UNIT": "1001",
                                        "TYPE (est)": "g_2x2",
                                        "archer_bed": "2",
                                        "archer_bath": "2",
                                        "SQ. FEET": "1105.0",
                                        "lease_type": null,
                                        "renovation_status": null,
                                        "WASHER / DRYER CONNECTIONS - AMOUNT (est)": null,
                                        "WASHER / DRYER IN UNIT - AMOUNT (est)": null,
                                        "WASHER DRYER RENTAL - AMOUNT (est)": null,
                                        "archer_occupancy_status": "Occupied",
                                        "STATUS": "C",
                                        "RESIDENTS": "Jose Mejia",
                                        "LEASE START": "2022-08-05",
                                        "MOVE IN": "2022-08-05",
                                        "LEASE END": "2023-08-07",
                                        "archer_lease_term": "12",
                                        "MOVE OUT": null,
                                        "archer_mtm": null,
                                        "DEPOSITS": "0.0",
                                        "BALANCE": "0.0",
                                        "MARKET RENT": "1249.0",
                                        "TOTAL - AMOUNT": "980.0",
                                        "RENT - AMOUNT": "1225.0",
                                        "VIP PARKING SPOT VIP SPOT #1 - AMOUNT": null,
                                        "RESIDENT LEASE RENT - AMOUNT": null,
                                        "MONTHLY PET FEE - AMOUNT": null,
                                        "CREDIT BUILDER - AMOUNT": null,
                                        "MONTH TO MONTH FEE - AMOUNT": null,
                                        "RENTERS LEGAL LIABILITY - AMOUNT": null,
                                        "EMPLOYEE UNIT RENT ALLOWANCE - AMOUNT": "-245.0",
                                        "WASHER DRYER RENTAL - AMOUNT": null,
                                        "WASHER / DRYER IN UNIT - AMOUNT": null,
                                        "WASHER / DRYER CONNECTIONS - AMOUNT": null,
                                        "RESERVED PARKING#43 - AMOUNT": null,
                                        "CONCESSION - RENT-CONCESSION - RENT- JANUARY ONLY - AMOUNT": null,
                                        "SUBSIDY/HARRIS COUNTY HOUSING AUTHORITY - AMOUNT": null,
                                        "CONCESSION - RENT- JANUARY ONLY - AMOUNT": null
                                    }
                                ]
                          
        '400':
          description: Bad Request - Missing or invalid parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error status.
                    example: error
                  message:
                    type: string
                    description: Detailed error message.
        '401':
          description: Unauthorized - Invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error status.
                    example: error
                  message:
                    type: string
                    description: Error message.
        '500':
          description: Internal Server Error - An unexpected error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error status.
                    example: error
                  message:
                    type: string
                    description: Error message.
  /api/v1/underwrites/bulk_run:
    post:
      summary: Run Bulk underwrite
      description: >
        #### Run Bulk underwrite on multiple properties by their address or archer property id
        
        > For every underwrite request, a callback will be sent to the callback_url provided in the request. We accept JSON array of underwrite requests in the request body and thus multiple callbacks will be made for multi property runderwrites. We limit the number of underwrite requests to 100.
        
        ### Request body of callback
          - `status`: The status of the underwrite
          - `status_reason`: The reason for the status
          - `client_request_id`: The client request id
          - `client_identifier`: The client identifier
          - `client_request_item_id`: The client request item id generated by archer when request made
          - `underwrite`: The underwrite details
          - `underwrite_url`: The underwrite url that can be used to access the secure S3 object on archer system for duration of <strong>30 minutes</strong>
        ### Sample request body of the callback
          ```` 
          {
              "status": "completed",
              "status_reason": null,
              "client_request_id": 116,
              "client_identifier": "e120333049234092831",
              "client_request_item_id": 230,
              "underwrite": {
                  "Archer ID": 8393672,
                  "Property Name": "The Estates at Legends",
                  "Owner": null,
                  "Address": "2354 MOSTELLER ESTATE AVE SE, HICKORY, NC 28602",
                  "Property Type": "Apartment",
                  "Property Style": "Garden/Low Rise",
                  "Year Built": 2006,
                  "Last Known Renovation": 2017,
                  "Unit Count": 245,
                  "Property Class": "B",
                  "Reasons they may Sell / Refinance": "",
                  "Seller Propensity Status": null,
                  "Date Acquired": "2020-12-22",
                  "Price Paid": 128924,
                  "Hold Period (months)": 47,
                  "Avg Hold for Owner (months)": null,
                  "Valuation Reported Date": null,
                  "Last reported Valuation": null,
                  "Valuation Source": null,
                  "Estimated Value": 36031760.14905571,
                  "Estimated LTV": null,
                  "underwrite_url": "https://app.archer.re/property/8393672?tab=Underwriting",
                  "Latest Rent data in Archer System": "2024-10-01",
                  "Unit Rents Available?": true,
                  "Unit Mix Available?": true,
                  "Est. Occupancy": 0.939,
                  "Occupancy 1 Yr Ago": null,
                  "Occupancy 2 Yr Ago": null,
                  "# of Rent Comps": 2,
                  "# of Expense Comps": 109,
                  "# of Sale Comps": 3,
                  "Archer Financial Estimate Available?": null,
                  "Last Reported NOI": null,
                  "Gross Potential Rent": 4209324,
                  "Renovation Additional Rents": 0,
                  "(Loss) Gain To Lease": -353946.348182302,
                  "Rental Concessions": -159579.3961384144,
                  "Net Potential Rents": 3695798.255679284,
                  "Vacancy Loss": -258284.0657901782,
                  "Non Revenue Units": 0,
                  "Bad Debt": -60355.21287019808,
                  "Total Rental Losses": -318639.2786603763,
                  "Effective Rental Income": 3377158.977018908,
                  "Net Potential Rent": 3695798.255679284,
                  "Utility Rebill Total": 0,
                  "Laundry & Vending": null,
                  "Parking Income": 0,
                  "Other Income Ops": 262107.8370597476,
                  "Other Income": 262845.7910464513,
                  "Total Revenue": 3640004.768065359,
                  "Administrative Costs": 175707.8942215675,
                  "Management Fee": 109200.1430419607,
                  "Professional Fee": 7149.09960746764,
                  "Payroll & Burden": 317365.6488037091,
                  "Repairs and Maintenance": 211353.9865472198,
                  "Marketing & Retention": 17831.49311453521,
                  "Utility Expenses": 213508.8717651365,
                  "Misc Operating Income": 0,
                  "Insurance Cost": 58185.26382595256,
                  "Real Estate Taxes": 418868.7793516509,
                  "Ground Lease": 0,
                  "Total Operating Costs": 1412821.937629772,
                  "Net Operating Income": 2227182.830435587,
                  "Estimated NOI Margin": 0.6118626134710592,
                  "Estimated DSCR": null,
                  "In Place Rent per unit": 1303.532087636942,
                  "Rent Comps Median ($/unit)": 1378.903,
                  "Value Add Rent Comps Median ($/unit)": 1557.6,
                  "Uplift Potential w/ Renovation": 130,
                  "Revenue ($/unit)": 14857.16231863412,
                  "Opex (excl taxes; $/unit)": 4056.951666441309,
                  "Opex ($/unit)": 5766.620153590905,
                  "NOI ($/unit)": 9090.542165043213,
                  "Real Estate Taxes ($/unit)": 1709.668487149596
              },
              "underwrite_file": "https://archer-webapp-staging.s3.us-west-2.amazonaws.com/jk7j0neteaib9xmuoq0yp3brumn6?response-content-disposition=attachment%3B%20filename%3D%222354_MOSTELLER_ESTATE_AVE_SE%252C_HICKORY%252C_NC_28602_1731993086.xlsm%22%3B%20filename%2A%3DUTF-8%27%272354_MOSTELLER_ESTATE_AVE_SE%252C_HICKORY%252C_NC_28602_1731993086.xlsm&response-content-type=application%2Fvnd.ms-excel.sheet.macroenabled.12&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAZ4YBMRUH7IROC3OY%2F20241119%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20241119T051127Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=641214836177ea684f277a019e97b47af8a1ae3c1592a2519c6c33126d4d0f10"
          }
      operationId: bulkUnderwriteRun
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - metadata
                - callback_url
                - api_key
              properties:
                api_key:
                  type: string
                  description: API token from https://app.archer.re
                callback_url:
                  type: string 
                  description: > 
                    Callback URL to which the callback should be sent as POST request. 
                    Request body of the callback will have information about the status of the underwrite.
                    eg: http://34.208.244.176:1080/mock/callback
                metadata:
                  type: json
                  format: array
                  required: true
                  description: >
                    ### Metadata of the underwrite

                    Metadata is a JSON string that contains information about the underwrite to be done. The following keys are required:
                    we accept archer property id or property information for underwrite requests.
                    
                    #### Below fields are mandate fields
                      - `archer_property_id`: The Archer property ID
                      - `client_identifier`: The client identifier provided by archer team
                    #### Below fields are mandate if `archer_property_id` is not provided
                      - `address`: The address of the property
                      - `city`: The city of the property
                      - `state`: The state of the property
                      - `zip`: The zip code of the property
                    #### Model info (optional and if missing standard model and archer assumptions are used)
                      - `underwriting_model_name`: The name of the underwriting model from app.archer.re
                      - `underwriting_assumptions_name`: The name of the underwriting assumptions from app.archer.re
                    #### property information overrides (optional)
                      - `unit_count`: The number of units in the property
                      - `avg_sqft`: The average sqft of the property
                      - `year_built`: The year of construction of the property
                      - `property_class`: The class of the property
                      - `property_style`: The style of the property
                      - `property_type`: The type of the property
                      - `last_renovated`: The date of last renovation of the property
                    #### Rentroll info (mandate if rentroll_file[*] is provided)
                      - `as_of_date`: The date of the rentroll if rentroll_file[*] is provided
                    #### Example with archer property id
                      ````
                        [
                          {
                            "archer_property_id": 44,
                            "client_identifier": "1" 
                          }
                        ]
                      ````
                    #### Example with address
                      ````
                        [
                          {
                            "as_of_date": "09/04/2024",
                            "address": "1500 vista club cir",
                            "city": "santa clara",
                            "state": "CA",
                            "zip": "95054",
                            "underwriting_model_name": "Archer Standard",
                            "underwriting_assumptions_name": "",
                            "avg_sqft": 1011,
                            "last_renovated": "",
                            "property_class": "B",
                            "property_style": "Garden/Low Rise",
                            "property_type": "Apartment",
                            "unit_count": 240,
                            "year_built": 2003,
                            "client_identifier": "1"
                          }
                        ]
                      ````
                    #### Example of with invalid underwrite model info
                      ````
                        [
                          {
                            "archer_property_id": 44,
                            "as_of_date": "2024-09-04",
                            "underwriting_model_name": "Archer Standard",
                            "underwriting_assumptions_name": "Archer Default",
                            "avg_sqft": 1011,
                            "last_renovated": "",
                            "property_class": "B",
                            "property_style": "Garden/Low Rise",
                            "property_type": "Apartment",
                            "unit_count": 240,
                            "year_built": 2003,
                            "client_identifier": "1" 
                          },
                        {
                            "archer_property_id": 44,
                            "as_of_date": "2024-09-04",
                            "underwriting_model_name": "Archer Standard",
                            "underwriting_assumptions_name": "Archer Default",
                            "avg_sqft": 1011,
                            "last_renovated": "",
                            "property_class": "B",
                            "property_style": "Garden/Low Rise",
                            "property_type": "Apartment",
                            "unit_count": 240,
                            "year_built": 2003,
                            "client_identifier": "1" 
                          }
                        ]
                    

                  example: " [\n\t{\n\t\t\"archer_property_id\" : 8393672,\n\"unit_count\": 400,\n\t\t\"client_identifier\" : \"e120333049234092831\"\n\t}\n]\n"
                rentroll_files[0]:
                  type: file
                  required: false
                  description: Rentroll file as binary file input. the field name should match with the order of underwrite request metadata. eg. rentroll_files[0], rentroll_files[1], etc.,
                t12_files[0]:
                  type: file
                  description: T12 file as binary file input. the field name should match with the order of underwrite request metadata. eg. t12_files[0], t12_files[1], etc.,
      responses:
        '200':
          description: Response with underwrite status
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_request_id:
                    type: number
                    example: 112
                    description: generated client request id
                  client_request_items:
                    type: array
                    items:
                      type: object
                      properties:
                        archer_property_id:
                          type: number
                          example: 8393672
                        client_identifier:
                          type: string
                          example: e120333049234092831
                        client_request_item_id:
                          type: number
                          example: 228
                        status:
                          type: string
                          example: pending
                        unit_count:
                          type: number
                          example: 400
                    example:
                      - archer_property_id: 8393672
                        client_identifier: e120333049234092831
                        client_request_item_id: 228
                        status: pending
                        unit_count: 400
                  status:
                    type: string
                    example: succeeded
              examples:
                ArcherPropertyId:
                  value:
                    client_request_id: 112
                    client_request_items:
                      - archer_property_id: 8393672
                        client_identifier: e120333049234092831
                        client_request_item_id: 228
                        status: pending
                        unit_count: 400
                    status: succeeded
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                example:

                  {
                      "status": "some_failed",
                      "client_request_id": 121,
                      "client_request_items": [
                          {
                              "status": "failed",
                              "errors": [
                                  "as_of_date format is invalid (must be mm/dd/yyyy)",
                                  "Invalid underwriting_model_name",
                                  "Invalid underwriting_assumptions_name"
                              ],
                              "client_request_item_id": 234,
                              "archer_property_id": 44,
                              "as_of_date": "2024-09-04",
                              "underwriting_model_name": "IPA Test v1",
                              "underwriting_assumptions_name": "Peak 15",
                              "avg_sqft": 1011,
                              "last_renovated": "",
                              "property_class": "B",
                              "property_style": "Garden/Low Rise",
                              "property_type": "Apartment",
                              "unit_count": 240,
                              "year_built": 2003,
                              "client_identifier": "1"
                          },
                          {
                              "status": "failed",
                              "errors": [
                                  "as_of_date format is invalid (must be mm/dd/yyyy)",
                                  "Invalid underwriting_assumptions_name"
                              ],
                              "client_request_item_id": 235,
                              "archer_property_id": 44,
                              "as_of_date": "2024-09-04",
                              "underwriting_model_name": "standard",
                              "underwriting_assumptions_name": "Peak 15",
                              "avg_sqft": 1011,
                              "last_renovated": "",
                              "property_class": "B",
                              "property_style": "Garden/Low Rise",
                              "property_type": "Apartment",
                              "unit_count": 240,
                              "year_built": 2003,
                              "client_identifier": "1"
                          }
                      ]
                  }
      security:
        - {}
tags: []
