openapi: 3.0.3
info:
  title: Archer Client
  version: 1.0.0
  contact: {}
servers:
  - url: 'https://app.archer.re'
  - url: 'http://staging.archer.re'
components:
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - tokenAuth: []
paths:
  /api/v1/underwrites/bulk_run:
    post:
      summary: Run Bulk underwrite
      description: >
        #### Run Bulk underwrite on multiple properties by their address or archer property id
        
        > For every underwrite request, a callback will be sent to the callback_url provided in the request. We accept JSON array of underwrite requests in the request body and thus multiple callbacks will be made for multi property runderwrites. We limit the number of underwrite requests to 100.
        
        ### Request body of callback
          - `status`: The status of the underwrite
          - `status_reason`: The reason for the status
          - `client_request_id`: The client request id
          - `client_identifier`: The client identifier
          - `client_request_item_id`: The client request item id generated by archer when request made
          - `underwrite`: The underwrite details
          - `underwrite_url`: The underwrite url that can be used to access the secure S3 object on archer system for duration of 30 minutes
        ### Sample request body of the callback
          ```` 
          {
              "status": "completed",
              "status_reason": null,
              "client_request_id": 116,
              "client_identifier": "e120333049234092831",
              "client_request_item_id": 230,
              "underwrite": {
                  "Archer ID": 8393672,
                  "Property Name": "The Estates at Legends",
                  "Owner": null,
                  "Address": "2354 MOSTELLER ESTATE AVE SE, HICKORY, NC 28602",
                  "Property Type": "Apartment",
                  "Property Style": "Garden/Low Rise",
                  "Year Built": 2006,
                  "Last Known Renovation": 2017,
                  "Unit Count": 245,
                  "Property Class": "B",
                  "Reasons they may Sell / Refinance": "",
                  "Seller Propensity Status": null,
                  "Date Acquired": "2020-12-22",
                  "Price Paid": 128924,
                  "Hold Period (months)": 47,
                  "Avg Hold for Owner (months)": null,
                  "Valuation Reported Date": null,
                  "Last reported Valuation": null,
                  "Valuation Source": null,
                  "Estimated Value": 36031760.14905571,
                  "Estimated LTV": null,
                  "underwrite_url": "https://app.archer.re/property/8393672?tab=Underwriting",
                  "Latest Rent data in Archer System": "2024-10-01",
                  "Unit Rents Available?": true,
                  "Unit Mix Available?": true,
                  "Est. Occupancy": 0.939,
                  "Occupancy 1 Yr Ago": null,
                  "Occupancy 2 Yr Ago": null,
                  "# of Rent Comps": 2,
                  "# of Expense Comps": 109,
                  "# of Sale Comps": 3,
                  "Archer Financial Estimate Available?": null,
                  "Last Reported NOI": null,
                  "Gross Potential Rent": 4209324,
                  "Renovation Additional Rents": 0,
                  "(Loss) Gain To Lease": -353946.348182302,
                  "Rental Concessions": -159579.3961384144,
                  "Net Potential Rents": 3695798.255679284,
                  "Vacancy Loss": -258284.0657901782,
                  "Non Revenue Units": 0,
                  "Bad Debt": -60355.21287019808,
                  "Total Rental Losses": -318639.2786603763,
                  "Effective Rental Income": 3377158.977018908,
                  "Net Potential Rent": 3695798.255679284,
                  "Utility Rebill Total": 0,
                  "Laundry & Vending": null,
                  "Parking Income": 0,
                  "Other Income Ops": 262107.8370597476,
                  "Other Income": 262845.7910464513,
                  "Total Revenue": 3640004.768065359,
                  "Administrative Costs": 175707.8942215675,
                  "Management Fee": 109200.1430419607,
                  "Professional Fee": 7149.09960746764,
                  "Payroll & Burden": 317365.6488037091,
                  "Repairs and Maintenance": 211353.9865472198,
                  "Marketing & Retention": 17831.49311453521,
                  "Utility Expenses": 213508.8717651365,
                  "Misc Operating Income": 0,
                  "Insurance Cost": 58185.26382595256,
                  "Real Estate Taxes": 418868.7793516509,
                  "Ground Lease": 0,
                  "Total Operating Costs": 1412821.937629772,
                  "Net Operating Income": 2227182.830435587,
                  "Estimated NOI Margin": 0.6118626134710592,
                  "Estimated DSCR": null,
                  "In Place Rent per unit": 1303.532087636942,
                  "Rent Comps Median ($/unit)": 1378.903,
                  "Value Add Rent Comps Median ($/unit)": 1557.6,
                  "Uplift Potential w/ Renovation": 130,
                  "Revenue ($/unit)": 14857.16231863412,
                  "Opex (excl taxes; $/unit)": 4056.951666441309,
                  "Opex ($/unit)": 5766.620153590905,
                  "NOI ($/unit)": 9090.542165043213,
                  "Real Estate Taxes ($/unit)": 1709.668487149596
              },
              "underwrite_file": "https://archer-webapp-staging.s3.us-west-2.amazonaws.com/jk7j0neteaib9xmuoq0yp3brumn6?response-content-disposition=attachment%3B%20filename%3D%222354_MOSTELLER_ESTATE_AVE_SE%252C_HICKORY%252C_NC_28602_1731993086.xlsm%22%3B%20filename%2A%3DUTF-8%27%272354_MOSTELLER_ESTATE_AVE_SE%252C_HICKORY%252C_NC_28602_1731993086.xlsm&response-content-type=application%2Fvnd.ms-excel.sheet.macroenabled.12&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAZ4YBMRUH7IROC3OY%2F20241119%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20241119T051127Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=641214836177ea684f277a019e97b47af8a1ae3c1592a2519c6c33126d4d0f10"
          }
      operationId: bulkUnderwriteRun
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - metadata
                - callback_url
                - api_key
              properties:
                api_key:
                  type: string
                  description: API token from https://app.archer.re
                callback_url:
                  type: string 
                  description: > 
                    Callback URL to which the callback should be sent as POST request. 
                    Request body of the callback will have information about the status of the underwrite.
                    eg: http://34.208.244.176:1080/mock/callback
                metadata:
                  type: json
                  format: array
                  required: true
                  description: >
                    ### Metadata of the underwrite

                    Metadata is a JSON string that contains information about the underwrite to be done. The following keys are required:
                    we accept archer property id or property information for underwrite requests.
                    
                    #### Below fields are mandate fields
                      - `archer_property_id`: The Archer property ID
                      - `client_identifier`: The client identifier provided by archer team
                    #### Below fields are mandate if `archer_property_id` is not provided
                      - `address`: The address of the property
                      - `city`: The city of the property
                      - `state`: The state of the property
                      - `zip`: The zip code of the property
                    #### Model info (optional and if missing standard model and archer assumptions are used)
                      - `underwriting_model_name`: The name of the underwriting model from app.archer.re
                      - `underwriting_assumptions_name`: The name of the underwriting assumptions from app.archer.re
                    #### property information overrides (optional)
                      - `unit_count`: The number of units in the property
                      - `avg_sqft`: The average sqft of the property
                      - `year_built`: The year of construction of the property
                      - `property_class`: The class of the property
                      - `property_style`: The style of the property
                      - `property_type`: The type of the property
                      - `last_renovated`: The date of last renovation of the property
                    #### Rentroll info (mandate if rentroll_file[*] is provided)
                      - `as_of_date`: The date of the rentroll if rentroll_file[*] is provided
                    #### Example with archer property id
                      ````
                        [
                          {
                            "archer_property_id": 44,
                            "client_identifier": "1" 
                          }
                        ]
                      ````
                    #### Example with address
                      ````
                        [
                          {
                            "as_of_date": "09/04/2024",
                            "address": "1500 vista club cir",
                            "city": "santa clara",
                            "state": "CA",
                            "zip": "95054",
                            "underwriting_model_name": "Archer Standard",
                            "underwriting_assumptions_name": "Venus Capital Default",
                            "avg_sqft": 1011,
                            "last_renovated": "",
                            "property_class": "B",
                            "property_style": "Garden/Low Rise",
                            "property_type": "Apartment",
                            "unit_count": 240,
                            "year_built": 2003,
                            "client_identifier": "1"
                          }
                        ]
                      ````
                    #### Example of with invalid underwrite model info
                      ````
                        [
                          {
                            "archer_property_id": 44,
                            "as_of_date": "2024-09-04",
                            "underwriting_model_name": "IPA Test v1",
                            "underwriting_assumptions_name": "Peak 15",
                            "avg_sqft": 1011,
                            "last_renovated": "",
                            "property_class": "B",
                            "property_style": "Garden/Low Rise",
                            "property_type": "Apartment",
                            "unit_count": 240,
                            "year_built": 2003,
                            "client_identifier": "1" 
                          },
                        {
                            "archer_property_id": 44,
                            "as_of_date": "2024-09-04",
                            "underwriting_model_name": "standard",
                            "underwriting_assumptions_name": "Peak 15",
                            "avg_sqft": 1011,
                            "last_renovated": "",
                            "property_class": "B",
                            "property_style": "Garden/Low Rise",
                            "property_type": "Apartment",
                            "unit_count": 240,
                            "year_built": 2003,
                            "client_identifier": "1" 
                          }
                        ]
                    

                  example: " [\n\t{\n\t\t\"archer_property_id\" : 8393672,\n\"unit_count\": 400,\n\t\t\"client_identifier\" : \"e120333049234092831\"\n\t}\n]\n"
                rentroll_files[0]:
                  type: file
                  required: false
                  description: Rentroll file as binary file input. the field name should match with the order of underwrite request metadata. eg. rentroll_files[0], rentroll_files[1], etc.,
                t12_files[0]:
                  type: file
                  description: T12 file as binary file input. the field name should match with the order of underwrite request metadata
      responses:
        '200':
          description: Response with underwrite status
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_request_id:
                    type: number
                    example: 112
                    description: generated client request id
                  client_request_items:
                    type: array
                    items:
                      type: object
                      properties:
                        archer_property_id:
                          type: number
                          example: 8393672
                        client_identifier:
                          type: string
                          example: e120333049234092831
                        client_request_item_id:
                          type: number
                          example: 228
                        status:
                          type: string
                          example: pending
                        unit_count:
                          type: number
                          example: 400
                    example:
                      - archer_property_id: 8393672
                        client_identifier: e120333049234092831
                        client_request_item_id: 228
                        status: pending
                        unit_count: 400
                  status:
                    type: string
                    example: succeeded
              examples:
                ArcherPropertyId:
                  value:
                    client_request_id: 112
                    client_request_items:
                      - archer_property_id: 8393672
                        client_identifier: e120333049234092831
                        client_request_item_id: 228
                        status: pending
                        unit_count: 400
                    status: succeeded
        '400':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                example:

                  {
                      "status": "some_failed",
                      "client_request_id": 121,
                      "client_request_items": [
                          {
                              "status": "failed",
                              "errors": [
                                  "as_of_date format is invalid (must be mm/dd/yyyy)",
                                  "Invalid underwriting_model_name",
                                  "Invalid underwriting_assumptions_name"
                              ],
                              "client_request_item_id": 234,
                              "archer_property_id": 44,
                              "as_of_date": "2024-09-04",
                              "underwriting_model_name": "IPA Test v1",
                              "underwriting_assumptions_name": "Peak 15",
                              "avg_sqft": 1011,
                              "last_renovated": "",
                              "property_class": "B",
                              "property_style": "Garden/Low Rise",
                              "property_type": "Apartment",
                              "unit_count": 240,
                              "year_built": 2003,
                              "client_identifier": "1"
                          },
                          {
                              "status": "failed",
                              "errors": [
                                  "as_of_date format is invalid (must be mm/dd/yyyy)",
                                  "Invalid underwriting_assumptions_name"
                              ],
                              "client_request_item_id": 235,
                              "archer_property_id": 44,
                              "as_of_date": "2024-09-04",
                              "underwriting_model_name": "standard",
                              "underwriting_assumptions_name": "Peak 15",
                              "avg_sqft": 1011,
                              "last_renovated": "",
                              "property_class": "B",
                              "property_style": "Garden/Low Rise",
                              "property_type": "Apartment",
                              "unit_count": 240,
                              "year_built": 2003,
                              "client_identifier": "1"
                          }
                      ]
                  }
      security:
        - {}
tags: []
